<% include partials/header.ejs %>

<h1> CUSTOMER PAGE </h1>
<h2> TICKETS </h2>
<h3> Welcome, <%= full_name[0]['full_name'] %></h3>
<h4> Customer ID: <%= full_name[0]['customer_id'] %> </h4>

<table>
<thead>
    <th id="sortTable0"> Ticket # </th>
    <th id="sortTable1"> acquired_time Time </th>
    <th id="sortTable2"> Estimated Support Time </th>
</thead>
<tbody>
<% for(let i = 0; i < tickets.length; i++) {%>
    <tr>
    <td> <%= tickets[i]['ticket_no'] %> </td>
    <td> <%= tickets[i]['acquired_time'] %> </td> 
    <td> <%= tickets[i]['est_support_time'] %> </td>
    </tr>
<% } %>
</tbody>
</table>

<form method="post" enctype="multipart/form-data">
<button href="/<%= full_name[0]['customer_id'] %>" name="create_ticket" id="create_ticket"> Create Ticket </button>
</form>

<% include partials/footer.ejs %>
