

<% book_copies.forEach((book, index) =>  {%>
    <p><%= book_copies.copies_book_id %></p>
    <p><%= book_copies.copies_branch_id %></p>
    <p><%= book_copies.no_of_copies %></p>
<% }) %>


<div>


<thead>
    <th> Book ID </th>
    <th> Branch ID</th>
    <th> Number of Copies</th>
</thead>
<tbody>
    <% book_copies.forEach((book_id, branch_id, number_of_copies) => {%>
        <tr>
            <th><%= book_copies.copies_book_id %></th>
            <td><%= book_copies.copies_branch_id %> </td>
            <td><%= book_copies.copies_number_of_copies %> </td>
        </tr>
    <% }) %>
</tbody>


</div>