<% include partials/header.ejs %>

<div class="jumbotron"> 
<h1> STAFF PAGE </h1>
<h2> TICKETS </h2>
</div>



<table class="table table-striped" id="myTable2">
<thead class="thead-dark">
    <th onclick="sortTable(0)"> Ticket Number </th>
    <th onclick="sortTable(1)"> Acquired Time </th>
    <th onclick="sortTable(2)"> Estimated Support Time </th>
    <th onclick="sortTable(3)"> Ticket Status </th>
</thead>
<tbody>
<% for(let i = 0; i < tickets.length; i++) {%>
    <tr>
    <td> <%= tickets[i]['ticket_no'] %></td>
    <td> <%= tickets[i]['acquired_time'] %> </td> 
    <td> <%= tickets[i]['est_support_time'] %> </td>
    <td> <%= tickets[i]['ticket_status'] %> </td>
    <% let link = tickets[i]['ticket_no'] %>
    <td> <a href="/toggle/<%= link %>" class="btn btn-sm btn-primary"> TOGGLE </a> </td>

    </tr>
<% } %>
</tbody>
</table>


<% include partials/footer.ejs %>
